#filter-container{
    border: 2px solid black;
    border-radius: 10px;
    width: 750px;
}

#filters{
    margin: 5px;
    display: flex;
    position: relative;
}

#search-box{
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

#toggle-dropdown{
    position: relative;
    width: 100px
}

#type-filter{
    display: none;
    position: absolute;
    left: 228px; 
    top: 100%;
    width: 100px;
}

#type-filter.visible {
    display: block;
}

#aquired-checkbox{

}

#unaquired-checkbox{
    
}

.pokemon{
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 120px;
    height: 220px;
}

#collection-container{
    border: 2px solid black;
    border-radius: 10px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}